parameters:
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/tests/*
    autoload_files:
        - %currentWorkingDirectory%/vendor/autoload.php
    ignoreErrors:
        - '#array\|null supplied for foreach#'
        - '#function array_merge expects array, array\|null given#'
        - '#should return array but returns array\|null#'
        - "#.*should return array\\('orig'.*#"
